<p id="notice"><%= notice %></p>

<p>
  <strong>A1:</strong>
  <%= @mrp.a1 %>
</p>

<p>
  <strong>A2:</strong>
  <%= @mrp.a2 %>
</p>

<p>
  <strong>A3:</strong>
  <%= @mrp.a3 %>
</p>

<p>
  <strong>A4:</strong>
  <%= @mrp.a4 %>
</p>

<p>
  <strong>A5:</strong>
  <%= @mrp.a5 %>
</p>

<p>
  <strong>A6:</strong>
  <%= @mrp.a6 %>
</p>

<p>
  <strong>A7:</strong>
  <%= @mrp.a7 %>
</p>

<p>
  <strong>A8:</strong>
  <%= @mrp.a8 %>
</p>

<p>
  <strong>A9:</strong>
  <%= @mrp.a9 %>
</p>

<p>
  <strong>A10:</strong>
  <%= @mrp.a10 %>
</p>

<p>
  <strong>A11:</strong>
  <%= @mrp.a11 %>
</p>

<p>
  <strong>B1:</strong>
  <%= @mrp.b1 %>
</p>

<p>
  <strong>B2:</strong>
  <%= @mrp.b2 %>
</p>

<p>
  <strong>B3:</strong>
  <%= @mrp.b3 %>
</p>

<p>
  <strong>B4:</strong>
  <%= @mrp.b4 %>
</p>

<p>
  <strong>B5:</strong>
  <%= @mrp.b5 %>
</p>

<p>
  <strong>B6:</strong>
  <%= @mrp.b6 %>
</p>

<p>
  <strong>B7:</strong>
  <%= @mrp.b7 %>
</p>

<p>
  <strong>B8:</strong>
  <%= @mrp.b8 %>
</p>

<p>
  <strong>B9:</strong>
  <%= @mrp.b9 %>
</p>

<p>
  <strong>B10:</strong>
  <%= @mrp.b10 %>
</p>

<p>
  <strong>B11:</strong>
  <%= @mrp.b11 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @mrp.c2 %>
</p>

<p>
  <strong>C3:</strong>
  <%= @mrp.c3 %>
</p>

<p>
  <strong>Est:</strong>
  <%= @mrp.est %>
</p>

<p>
  <strong>Lt:</strong>
  <%= @mrp.lt %>
</p>

<%= link_to 'Edit', edit_mrp_path(@mrp) %> |
<%= link_to 'Back', mrps_path %>
